<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Tech Talk</title>
</head>
<body>
  <header>
    <div class="left-header">
      <a href="/"><h1>Tech Talk</h1></a>
    </div>
    <nav>
      {{#if loggedIn}}
      <a href="/dashboard">Dashboard</a>
      <p id="logout">Logout</p>
      <script src="/javascript/logout.js"></script>
      {{else}}
      <a href="/login">Login</a>
      <a href="/signup">Sign Up</a>
      {{/if}}
    </nav>
  </header>

  <main>
    {{{ body }}}
  </main>
</body>
</html>