<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Tech Talk</title>
</head>
<body>
  <header>
    <div class="left-header">
      <a href="/"><h1>Tech Talk</h1></a>
    </div>
    <nav>
      <a href="/dashboard">Dashboard</a>
      <a href="/logout">Logout</a>
    </nav>
  </header>

  <main>
    {{{ body }}}
  </main>
  
</body>
</html>