<div class="posts">
  <div class="post">
    <p class="post-info">Posted by <a>username</a> 2 hours ago</p>
    <h2 class="post-title">This is my post title</h2>
    <p class="post-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nam qui quas aut exercitationem. A porro expedita, suscipit soluta officiis quas voluptates doloribus laboriosam illo assumenda cum dolore inventore? Magnam! </p>
    <p class="post-comments">6 comments</p>
  </div>

  <div class="post">
    <p class="post-info">Posted by <a>username</a> 2 hours ago</p>
    <h2 class="post-title">This is my post title</h2>
    <p class="post-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nam qui quas aut exercitationem. A porro expedita, suscipit soluta officiis quas voluptates doloribus laboriosam illo assumenda cum dolore inventore? Magnam! </p>
    <p class="post-comments">6 comments</p>
  </div>

  <div class="post">
    <p class="post-info">Posted by <a>username</a> 2 hours ago</p>
    <h2 class="post-title">This is my post title</h2>
    <p class="post-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nam qui quas aut exercitationem. A porro expedita, suscipit soluta officiis quas voluptates doloribus laboriosam illo assumenda cum dolore inventore? Magnam! </p>
    <p class="post-comments">6 comments</p>
  </div>
</div>