<h2 class="profile-name">{{username}}</h2>
<div id="posts">
  {{#each posts as |post|}}
  {{> posts post}}
  {{/each}}
</div>
<script src="/javascript/post.js"></script>
<script src="/javascript/comment.js"></script>