* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgba(118, 118, 118, 0.1);
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  margin-top: 20px;
}
 
/* header styles start */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(48, 109, 161, 0.75);
  font-family: 'Noto Sans Mono', monospace;
}

.left-header {
  width: 50%;
}

h1 {
  width: fit-content;
  margin: auto;
  font-size: 40px;
  text-align: center;
}

h1:hover {
  opacity: 1;
}

nav {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
}

#logout {
  cursor: pointer;
}

nav a:hover, #logout:hover {
  opacity: 0.5;
}
/* header styles end */

/* post styles start */
#posts {
  width: 70%;
  margin: auto;
}

.post {
  background-color: white;
  padding: 10px 20px;
  margin-bottom: 20px; 
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(198, 198, 198, 0.5);
}

.post-info {
  font-size: 12px;
  opacity: 0.5;
}

.post-info a {
  color: rgb(22, 55, 175);
}

.post-info a:hover, .show-comments:hover, .hide-comments:hover {
  opacity: 0.65;
  cursor: pointer;
}

.post-title {
  margin-bottom: 10px;
  font-size: 24px;
}

.post-content {
  line-height: 1.25;
}

.show-comments, .hide-comments {
  margin-top: 6px;
  font-size: 12px;
  color: rgba(22, 55, 175, 0.5);
}

.post-comments {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid rgba(165, 163, 163, 0.5);
}
/* post styles end */

/* login/signup styles start */
#login-signup {
  width: 25%;
  margin: auto;
  padding: 20px 20px 5px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(198, 198, 198, 0.5);
}

#login-signup label, #login-signup input, #login-signup button {
  display: block;
  width: 100%;
}

#login-signup label {
  font-size: 12px;
  margin-top: 10px;
}

#login-signup input, #login-signup button {
  font-size: 16px;
  padding: 8px;
  border-style: none;
  border-radius: 12px;
  background-color: rgba(118, 118, 118, 0.15);
}

#login-signup input:hover {
  background-color: rgba(29, 163, 163, 0.15);
}

#login-signup button {
  margin-top: 20px;
  background-color: rgba(48, 109, 161, 0.85);
  color: white;
}

#login-signup button:hover {
  background-color: rgb(48, 109, 161);
}

.prompt {
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}

.prompt a {
  color: rgba(22, 55, 175, 0.5);
}

.prompt a:hover {
  opacity: 0.65;
}

.error {
  text-align: center;
  color: red;
  font-size: 12px;
  width: fit-content;
  margin: 10px auto 0;
}
/* login/signup styles end */

/* dashboard styles start */
#dashboard, .profile-name {
  width: 70%;
  margin: auto;
}

#new-post {
  display: block;
  font-size: 20px;
  font-weight: bold;
  padding: 8px 16px;
  margin: 0 auto 20px;
  border-style: none;
  border-radius: 12px;
  color: white;
  background-color: rgb(48, 109, 161);
}

#new-post:hover {
  cursor: pointer;
  background-color: rgba(48, 109, 161, 0.75);
}

#post-form {
  width: 70%;
  margin: auto;
  background-color: white;
  padding: 10px 20px;
  margin-top: 20px; 
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(198, 198, 198, 0.5);
}

#post-form h2 {
  font-size: 24px;
}

.form-title {
  width: 100%;
  padding: 8px;
  border: 1px solid grey;
  margin: 10px 0;
  font-size: 20px;
}

.form-content {
  width: 100%;
  height: 25vh;
  padding: 8px;
  border: 1px solid grey;
  line-height: 1.25;
  font-family: inherit;
  resize: none;
}

#post-form button {
  display: block;
  width: 20%;
  font-size: 20px;
  font-weight: bold;
  padding: 8px 16px;
  margin: 10px auto 5px;
  border-style: none;
  border-radius: 12px;
  color: white;
  background-color: rgb(48, 109, 161);
}

#post-form button:hover {
  cursor: pointer;
  background-color: rgba(48, 109, 161, 0.75);
}
/* dashboard styles end */

/* profile styles start */
.profile-name {
  margin-bottom: 15px;
}